@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.scroll-area::-webkit-scrollbar {
  width: 15px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #9ca3af;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 8px;
}

.scroll-area::-webkit-scrollbar-track {
  background: transparent;
}
