@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard Variable'),
    url(/fonts/PretendardVariable.woff2) format('woff2');
}

html,
body {
  font-family: 'Pretendard';
  font-weight: 400;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 기본 브라우저 스타일 초기화 */
input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.scroll-area::-webkit-scrollbar {
  width: 15px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #9ca3af;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 8px;
}

.scroll-area::-webkit-scrollbar-track {
  background: transparent;
}
